@import '/StyleUtilities/Colors.scss';
@import '/StyleUtilities/Dimensions.scss';

.App {
  background-color: $background-color;
}

.container {
  display: block;
  margin-left: $container_margin-left;
  height: 100vh;
  width: $container_width;
  background-color: $background-color;
}

.logo-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
}